.cell {
	height: 40px;
	width: 125px;
	text-align: center;
}

.here {
	color: #fff;
	text-align: center;
	background-color: #27ae60;
}
.late {
	color: #fff;
	text-align: center;
	background-color: #e74c3c;
}
.name-cell {
	min-width: 150px;
}